body 
{
    background-color: #333;
}
h1
{
    font-weight:normal;
}
#calendar
{
    background-color: #333;
    display: inline-grid;
}

#calendar-header
{
    font-size: 25px;
    color: #eee;
    font-family: CircularStd, sans-serif;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}
#calendar-header {
    font-size: 25px;
    color: #eee;
    font-family: CircularStd, sans-serif;   
    display: flex;
    align-items: center;
    justify-content: space-between; /* pushes text left, buttons right */
}
#agenda-and-calendar-grid
{
    display:flex;
}
.agenda-button
{
    border: none;
    box-shadow: none;
    border-radius: 3px;
}
/*#calendar-and-agenda
{
    display: flex;
    flex: 1;
}*/
#agendaDisplay
{
    position: relative;
    top: -25px;
    color: #eee;
    font-family: CircularStd, sans-serif;   
    max-height: 250px;
}
table.calendar-table
{
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

#calendarHeader
{
    border-radius: 1px;
    text-align: left;
    flex: 1;
}
.calendar-table 
{
    width: 60%;
    table-layout: fixed;
    align-items: center;
    justify-content: center;
}
.agenda-header-container
{
    background-color:cadetblue;
    background-image: linear-gradient(1deg, cadetblue, rgb(73, 168, 142) 99%);
    border-radius: 3px;
    font-size: 12px;
    color: #eee;
    font-family: CircularStd, sans-serif;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: -5px;
    max-width: 300px;
    min-width: 300px;
}

.agenda
{
    white-space: nowrap;
    border: 1px solid black;
    margin-top: 30px;
    min-width: 300px;
    max-width: 300px;
    max-height: 28px;
    min-height: 28px;
}

#day
{
    border-radius: 3px; 
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    padding-top: 60%;
    color: #eee;
    font-family: CircularStd, sans-serif;   
}
th.day
{
    font-weight: bold;
    font-family: CircularStd, sans-serif;   
    color: #eee;
    background-color: cadetblue;
    background-image: linear-gradient(1deg, cadetblue, rgb(73, 168, 142) 99%);
    border-color: #333;
}

.thisMonth
{
    color: #eee;
}
.lastMonth
{
    color: #989898;
    background-color: #333;
    border-color: #eee;

}
.nextMonth
{
    color: #ccc;
    background-color: #333;
    border-color: #eee;
}
/*.calendar-btn
{
    display: flex;
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 1px;
    font-size: 15px;
}*/

/* CSS */
.calendar-btn {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, cadetblue, rgb(73, 168, 142) 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 3px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.calendar-btn:active,
.calendar-btn:focus {
    outline: none;
}

.calendar-btn:hover {
    background-position: -20px -20px;
}