#calendar
{
    background-color: #333;
}

#calendar-header
{
    font-size: 25px;
    color: #eee;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
table.calendar-table
{
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

#calendarHeader
{
    border-radius: 1px;
    text-align: left;
    flex: 1;

}
.calendar-table 
{
    width: 60%;
    table-layout: fixed;
    align-items: center;
    justify-content: center;
}

div.day
{
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    padding-top: 60%;
    color: #eee;
    font-family:Arial, Helvetica, sans-serif;
}
th.day
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;   
    color: #eee;
    background-color: rgb(234, 86, 86);
    border-color: #333;
}
.thisMonth
{
    color: #eee;
}
.lastMonth
{
    color: #ccc;
    background-color: #333;
    border-color: #eee;

}
.nextMonth
{
    color: #ccc;
    background-color: #333;
    border-color: #eee;
}
.calendar-btn
{
    display: flex;
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 1px;
    font-size: 15px;
}
.calendar-btn:hover
{
    background-color: #aaa;
}
.calendar-btn:active
{
    background-color: #898989;
    transform: translateY(1px);
}